/* Navbar */

.sitemap-ul {
	margin-top: 0;
	text-align: center;
}

.sitemap-li {
	display: inline;
	list-style-type: none;
	color: white;
	text-decoration: none;
}

.sitemap-li:hover {
	text-decoration: underline;
	color: white;
}