/* Social Media */

.socials-ul {
	margin-top: 0;
	text-align: center;
	margin-bottom: 5px;
}

.socials-li {
	display: inline;
	list-style-type: none;
	color: white;
	text-decoration: none;
}

.socials-li:hover {
	text-decoration: underline;
	color: white;
}